{% extends "base.html" %}
{% load compressed %}

{% block css %}
{% compressed_css 'login_form' %}
{% endblock %}

{% block title %}Login{% endblock %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<div id="form-container">
	<p>Enter your email and password to login to your account</p>
	<form method="post" action="{% url django.contrib.auth.views.login %}">
		{% csrf_token %}
		<ul>
			<li>
			<label for="id_{{ form.username.html_name }}">Email</label>	
				<div class="inputwrapper">
					{{ form.username }}
				</div>
			</li>
			<li>
				{{ form.password.label_tag }}
				<div class="inputwrapper">
					{{ form.password }}
				</div>
			</li>
			<li class="short">
				<a href="{% url auth_password_reset %}">Forgot Password >></a>
			</li>
			<li class="short">
				<label style="visibility: hidden;">Submit</label>	
				<input type="submit" value="Login"/>
			</li>
		</ul>
			<input type="hidden" name="next" value="{{ next }}" />
	</form>
</div>

{% endblock %}
