{% extends "base.html" %}
{% load compressed %}

{% block css %}
{% compressed_css 'password_reset_form' %}
{% endblock %}

{% block content %}

{% if validlink %}
	<div id="loginform">
		{{ form.errors }}
		<p>Reset your password by entering a new one here:</p>
		<form method="post" action="">
			{% csrf_token %}
			<ul>
				<li>
					{{ form.new_password1.label_tag }}
					<div class="inputwrapper">
						{{ form.new_password1 }}
					</div>
				</li>
				<li>
					<label for="id_new_password2">New Password Again</label>
					<div class="inputwrapper">
						{{ form.new_password2 }}
					</div>
				</li>
				<li class="short">
					<label style="visibility: hidden;">Submit</label>	
					<input type="submit" value="Reset Password"/>
				</li>
			</ul>
			</form>
	</div>
{% else %}
	<h1>Password reset unsuccessful</h1>
	
	<p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>
{% endif %}

{% endblock %}
