{% extends "base.html" %}
{% load compressed %}

{% block css %}
{% compressed_css 'password_reset' %}
{% endblock %}

{% block content %}
<div id="loginform">
	<p>Enter your email and we will send you a link to reset your password.</p>
	<form method="POST" action="{% url auth_password_reset %}">
		{% csrf_token %}
		<ul>
			<li>
				<label for="id_email">Email</label>
				<div class="inputwrapper">
					{{ form.email }}
				</div>
			</li>
			<li>
				<label style="visibility: hidden;">Submit</label>	
				<input type="submit" value="Reset Password"/>
			</li>
		</ul>
	</form>
</div>
{% endblock %}
