{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block css %}
  .form-register {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
  }
  .form-register .form-register-heading,
  .form-register .checkbox {
    margin-bottom: 10px;
  }
  .form-register input[type="text"],
  .form-register input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
  }
{% endblock %}

{% block content %}
	<form class="form-register" method="post" action="">{% csrf_token %}
		{% for field in form %} 
			{% if field.errors %}
				<div class="alert alert-error">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					{{ field.errors|striptags }}
				</div>
			{% endif %}
		{% endfor %}
		{% for error in form.non_field_errors %} 
			<div class="alert alert-error">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				{{ error|escape }}
			</div>
		{% endfor %}
		<h2 class="form-register-heading">Create an Account</h2>
		{{ form.email }}
		{{ form.password1 }}
		{{ form.password2 }}
		<button class="btn btn-large btn-primary" type="submit">Create Account</button>
	</form>
{% endblock %}
