input[type="checkbox"] {
	vertical-align: middle;
}
#form-container li div label {
	float: none;
}

#form-container input[type="button"] {
	margin-left: 10px;
	width: 100px;
}

div input[type="submit"] {
	margin-left: 100px;
}

div.no-border {
	border: none;
}
