{% extends "base.html" %}
{% load compressed %}

{% block title %}Create Bill{% endblock %}

{% block css %}
{% compressed_css 'add_bill' %}
{% endblock %}

{% block content %}
<div id="form-container">
	<p>Add a new bill</p>
	<form action="" method="post">{% csrf_token %}
		<ul>
			<li>
				{{ bill_form.name.label_tag }}
				<div class="inputwrapper">
					{{ bill_form.name }}
				</div>
			</li>
			<li>
				{{ bill_form.amount.label_tag }}
				<div class="inputwrapper">
					{{ bill_form.amount }}
				</div>
			</li>
			<li>
				{{ bill_form.date.label_tag }}
				<div class="inputwrapper">
					{{ bill_form.date }}
				</div>
			</li>
			<li>
				<label class="placeholder">&nbsp;</label>	
				<div style="display: inline;">
					{{ bill_form.is_paid }} {{ bill_form.is_paid.label_tag }}
					{{ bill_form.does_repeat }} {{ bill_form.does_repeat.label_tag }}
				</div>
			</li>
			<li>
				{{ recur_freq_form.repeats.label_tag }}
				{{ recur_freq_form.repeats }}
			</li>
			<li>
				{{ daily_recurrence_form.repeat_every.label_tag }}
				<div class="inputwrapper">
					{{ daily_recurrence_form.repeat_every }} days
				</div>
			</li>
			<li>
				{{ weekly_recurrence_form.repeat_every.label_tag }}
				<div class="inputwrapper">
					{{ weekly_recurrence_form.repeat_every }} weeks
				</div>
			</li>
			<li>
				{{ weekly_recurrence_form.repeat_on.label_tag }}
				<div class="inputwrapper">
					{{ weekly_recurrence_form.repeat_on }}
				</div>
			</li>
			<li>
				{{ monthly_recurrence_form.repeat_every.label_tag }}
				<div class="inputwrapper">
					{{ monthly_recurrence_form.repeat_every }} months
				</div>
			</li>
			<li>
				{{ monthly_recurrence_form.repeat_by.label_tag }}
				<div class="inputwrapper">
					{{ monthly_recurrence_form.repeat_by }}
				</div>
			</li>
			<li>
				{{ yearly_recurrence_form.repeat_every.label_tag }}
				<div class="inputwrapper">
					{{ yearly_recurrence_form.repeat_every }} years
				</div>
			</li>
			<li class="short">
				<input type="submit" value="Submit"/>
				<input type="button" value="Cancel"/>
			</li>
		</ul>
	</form>
</div>
{% endblock %}
