{% extends "base.html" %}
{% block title %}Create Bill{% endblock %}

{% block content %}
<h1>Add a new bill:</h1>
<form action="/create/" method="post">
	<table>
		<tbody>
			<th>{{ bill_form.name.label }}:</th>
			<td>{{ bill_form.name }}</td>
		</tbody>	
		<tbody>
			<th>{{ bill_form.amount.label }}:</th>
			<td>{{ bill_form.amount }}</td>
		</tbody>	
		<tbody>
			<th>{{ bill_form.date.label }}:</th>
			<td>{{ bill_form.date }}</td>
		</tbody>	
		<tbody>
			<th>{{ bill_form.is_paid.label }}:</th>
			<td>{{ bill_form.is_paid }}</td>
		</tbody>	
		<tbody>
			<th>{{ bill_form.does_repeat.label }}</th>
			<td>{{ bill_form.does_repeat }}</td>
		</tbody>	
		<tbody>
			<th>{{ bill_form.repeats.label }}</th>
			<td>{{ bill_form.repeats }}</td>
		</tbody>	
	</table>	

	<table>
		<tbody>
			<th>{{ recur_freq_form.repeats.label }}:</th>
			<td>{{ recur_freq_form.repeats }}</td>
		</tbody>	
	</table>
	
	<table id="repeat_daily">
		<tbody>
			<tr>
				<th>{{ daily_recurrence_form.repeat_every.label }}: </th>
				<td>{{ daily_recurrence_form.repeat_every }} days</td>
			</tr>
			{% include "bills_form_has_end.html" %}
		</tbody>
	</table>

	<table id="repeat_weekly">
		<tbody>
			<tr>
				<th>{{ weekly_recurrence_form.repeat_every.label }}: </th>
				<td>{{ weekly_recurrence_form.repeat_every }} weeks</td>
			</tr>
			<tr>
				<th>{{ weekly_recurrence_form.repeat_on.label }}: </th>
				<td>{{ weekly_recurrence_form.repeat_on }}</td>
			</tr>
			{% include "bills_form_has_end.html" %}
		</tbody>
	</table>

	<table id="repeat_monthly">
		<tbody>
			<tr>
				<th>{{ monthly_recurrence_form.repeat_every.label }}: </th>
				<td>{{ monthly_recurrence_form.repeat_every }} months</td>
			</tr>
			<tr>
				<th>{{ monthly_recurrence_form.repeat_by.label }}: </th>
				<td>{{ monthly_recurrence_form.repeat_by }}</td>
			</tr>
			{% include "bills_form_has_end.html" %}
		</tbody>
	</table>

	<table id="repeat_yearly">
		<tbody>
			<tr>
				<th>{{ daily_recurrence_form.repeat_every.label }}: </th>
				<td>{{ daily_recurrence_form.repeat_every }} years</td>
			</tr>
			{% include "bills_form_has_end.html" %}
		</tbody>
	</table>
	<input type="submit" value="Submit"/>
	<input type="button" value="Cancel"/>
</form>
{% endblock %}
