{% extends "base.html" %}
{% load humanize %}

{% block title %}Your Bills{% endblock %}

{% block css %}
  .bill-list {
    max-width: 600px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
  }
  .pager li > span{
    border: 0px;  
  }
{% endblock %}

{% block content %}
    <div class="container bill-list">

        <ul class="pager">
            <li class="previous">
            <a href="{% url list_bills year=prev_year month=prev_month %}" class="nav">&lt;&lt; {{ prev_date|date:"F Y" }}</a>
            </li>
            <li><span><strong>{{ current_date|date:"F Y" }}</strong></span></li>
            <li class="next">
            <a href="{% url list_bills year=next_year month=next_month %}" class="nav">{{ next_date|date:"F Y" }} &gt;&gt;</a>
            </li>
        </ul>

        <a href="{% url create_bill %}"><i class="icon-plus"></i> Create new bill</a>
        <table class="table table-hover">
            <tbody>
                {% for bill in bill_list %}
                    <tr>
                        <td>{{ bill.date|date:"M j" }}</td>
                        <td>
                            {% if bill.is_paid %}
                                <span class="label label-success">Paid</span> 
                            {% else %}
                                <span class="label">Unpaid</span> 
                            {% endif %} 
                        </td>
                        <td><a href="{% url edit_bill bill.id %}">{{ bill.name }}</a></td>
                        <td><small>$</small>{{ bill.amount|floatformat:2|intcomma }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
