{% extends "base.html" %}

{% block title %}Your Bills{% endblock %}

{% block content %}
	<div id="nav">
		<a href="{% url billtally.site.views.list_bills %}?start={{ prev_start|date:"Y-m-d" }}&end={{ prev_end|date:"Y-m-d" }}" class="nav">&lt;&lt; previous 30 days</a>
		<span id="current">{{ start_date|date:"M j" }} - {{ end_date|date:"M j" }}</span>
		<a href="{% url billtally.site.views.list_bills %}?start={{ next_start|date:"Y-m-d" }}&end={{ next_end|date:"Y-m-d" }}" class="nav">next 30 days &gt;&gt;</a>
	</div>
	<div id="add">
		<a href="{% url billtally.site.views.create_bill %}">Create new bill</a>
	</div>

	{% for bill in bill_list %}
		<div id="billlist">
			<div class="bill">
				<div class="amount">${{ bill.amount }}</div>
				<div class="date">{{ bill.date|date:"M j" }}</div>
				<div class="name">{{ bill.name }}</div>
				<div class="partial"></div>
				<div class="actions">
						<a href="#" class="edit">Pay this Bill</a> •
						<a href="#">Edit</a> •
						<a href="#" class="delete">Delete</a>
				</div>
			</div>
		</div>
	{% endfor %}
{% endblock %}
